html {
    scroll-behavior: smooth;
}

body {
    background: #0D0D1E;
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 50px;
}

main {
    height: 500px;
}

main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

main div img {
    width: 280px;
    height: 280px;
}

.nav-responsive-out {
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    width: 100vw;
    height: 100%;
    z-index: 999;
    background: #0D0D1E;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.nav-responsive-out ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    padding-top: 50px;
    margin-bottom: 30px;
}

.nav-responsive-out {
    display: none;
}

#nav-responsive-out ul li a {
    font-size: 20px;
}

.nav-responsive ul {
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    padding-top: 50px;
    margin-bottom: 30px;
}

.nav-responsive-out #div-close img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d18dc;
    text-decoration: none;
    padding: 17px 40px;
    width: 150px;
    cursor: pointer;
    border: 0;
    color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-bottom: 50px;
    margin-top: 25px;
}

.btn:hover {
    background-color: #7a3ff0;
    background-color: #5d18dc;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 30px 10px;
}

.btn:active {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms ease-out;
    -webkit-transition: 100ms ease-out;
    -moz-transition: 100ms ease-out;
    -ms-transition: 100ms ease-out;
    -o-transition: 100ms ease-out;
}