html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background: #0D0D1E;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    padding: 10px;
    color: white;
    box-shadow: 1px 1px 20px -15px white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    /* margin-bottom: 50px; */
}

.header a {
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 35px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
}

.div-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.menu {
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.nav-responsive {
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    width: 100vw;
    height: 100%;
    z-index: 999;
}

.nav-responsive {
    background: #0D0D1E;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.nav-responsive ul {
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    padding-top: 50px;
    margin-bottom: 30px;
}

.nav-responsive #div-close img {
    width: 50px;
    height: 50px;
}

.nav-responsive ul li {
    font-size: 30px;
}

#nav-registrar {
    display: none;
}

#div-menu {
    display: none;
}

.nav-responsive {
    display: none;
}

.nav-responsive-out {
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    width: 100vw;
    height: 100%;
    z-index: 999;
    background: #0D0D1E;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.nav-responsive-out ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    padding-top: 50px;
    margin-bottom: 30px;
}

.nav-responsive-out {
    display: none;
}

#nav-responsive-out ul li a {
    font-size: 20px;
}

.nav-responsive ul {
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    padding-top: 50px;
    margin-bottom: 30px;
}

.nav-responsive-out #div-close img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

@media screen and (max-width:1024px) {
    .header nav ul li a {
        padding: 10px;
        font-size: 13px;
    }
}

@media screen and (max-width:768px) {
    .header {
        justify-content: space-between;
    }

    #nav-registrar {
        display: none !important;
    }

    #nav-registrardo {
        display: none !important;
    }

    #div-menu {
        display: block;
    }
}

@media screen and (max-width:425px) {
    header a h2 {
        font-size: 25px;
    }
}

.button {
    padding: 17px 40px;
    cursor: pointer;
    border: 0;
    color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.button:hover {
    background-color: #5d18dc;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.button:active {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

main {
    padding: 50px 20px 50px 20px;
}

.btn {
    background-color: #5d18dc;

    padding: 17px 40px;
    cursor: pointer;
    border: 0;
    color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.btn:hover {
    background-color: #7a3ff0;
    background-color: #5d18dc;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 30px 10px;
}

.btn:active {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms ease-out;
    -webkit-transition: 100ms ease-out;
    -moz-transition: 100ms ease-out;
    -ms-transition: 100ms ease-out;
    -o-transition: 100ms ease-out;
}


.div-h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0;
    margin-bottom: 50px;
    width: 100%;
}

.div-h1 h1 {
    margin: 0;
    font-size: 50px;
}

.div-h1 a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 50px 20px;
}

section {
    /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: first baseline;
    gap: 25px;
    /* padding: 50px; */
}

section article {
    width: 400px;
    height: 400px;
    overflow: hidden;
    box-shadow: 1px 1px 30px -5px rgba(0, 0, 0, 1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

section article a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section article img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 50%;
}


section article a {
    text-decoration: none;
}

.div-info-prod {
    color: white;
    padding: 5px 10px 5px 10px;
}

.div-info-prod h4 {
    color: red;
}

.div-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-slider ul {
    list-style: none;
}

.div-slider ul li a {
    text-decoration: none;
    color: #5d18dc88;
}

#slider-a {
    color: #5d18dc;
}

#slider-3 {
    color: #5d18dc;
    text-decoration: underline;
}

#slider-d {
    color: white;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
    padding: 10px;
    color: white;
    box-shadow: 1px 1px 20px -15px white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 100px;
}

footer div {
    display: flex;
    gap: 25px;
}

footer div a {
    text-decoration: none;
}

.buttonf {
    padding: 17px 40px;
    cursor: pointer;
    border: 0;
    color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 13px;
    transition: all 0.5s ease;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.buttonf:hover {
    background-color: #5d18dc;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.buttonf:active {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transition: 100ms;
}

@media screen and (max-width:1024px) {
    footer {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-height: 200px;
    }

    footer div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}